/* 
    Overskrive default styling 
    (Normalise CSS, reset CSS)
*/

* {
    margin: 0px;
}

body {
    background-color: rgb(255, 255, 255);
    min-height: 100vh; /* vh = view height (100% av skjermhøyden) */
    display: flex;
    flex-direction: column;
}
header {
    background-color: rgb(255, 255, 255);
}
nav {
    display: block;
  }
.top-header {
    width: 100%;
    background-image: url(images/header-image-cherry.jpg);
    background-size: cover;
    background-position: center;
}
.top-header > h1 {
    color: white;
    background-color: rgba(0,0,0,0.3);
    padding: 2em 1em;
    font-family: sans-serif;
}
#navbar {
    background-color: rgb(253, 209, 216);
}

#main{
    flex-grow: 1;
}

#footer {
    background-color: rgb(253, 209, 216);
}